.alert-dialog {
    background-color: #fff;
    border-radius: 10px;
    display: block;
    font-family: Poppins;
    height: 300px;
    left: 87vh;
    position: absolute;
    top: 20%;
    width: 300px;
}

.container-alert {
    display: block;
    padding: 20px;
}

.container-alert > h3 {
    text-align: center;
}

.buttons-container {
    width: 100%;
    margin-top: 120px;
}

.btn-reject {
    float: left;
    margin-left: 40px;
}


.btn-accept {
    float: right;
    margin-right: 40px;
}


.button-alert {
    background-color: #ED2560;
    color: #fff;
    cursor: pointer;
    width: 100px;
    padding: 10px 20px 10px 20px;
    box-shadow: none;
    border-radius: 10px ;
    border-style: none;
}

.main-box {
    background-color: rgba(0, 0, 0, 0.24);
    margin: 0;
    top: 0%;
    position: absolute;
    height: 200vh;
    width: 100%;
    padding: 0;
}